<div class="about-container">
    <div id="container-about-toggle">
        <div class="inner-container-about-toggle">
            <div class="toggle">
                <p>CV</p>
            </div>
            <div class="toggle">
                <p>About</p>
            </div>
        </div>
        <div class="inner-container-about-toggle" id='toggle-container-about-toggle'>
            <div class="toggle">
                <p>CV</p>
            </div>
            <div class="toggle">
                <p>About</p>
            </div>
        </div>
    </div>

    <div class="about-content about-selection active" id="about-selection">
        <div class="about-intro">
            <div class="intro-header">
                <img src="/assets/img/logo.jpg" alt="logo" class="intro-logo">
                <div class="intro-text">
                    <h1>Johan Rodríguez</h1>
                    <p class="text-muted" style="margin-bottom:1em">@Johanx22x</p>
                    <p>I'm a Computer Engineering student at the Costa Rica
                        Institute of Technology, passionate about Game Development,
                        Machine Learning, Mathematics and Design.</p>
                </div>
            </div>
        </div>

        <div class="about-body">
            <div class="about-section">
                <div class="about-section-content">
                    <div class="about-section-content-item">
                        <p>
                            Hi! This is my personal space where I share my
                            projects, thoughts, and experiences in game
                            development and AI-driven solutions. Whether it’s
                            designing engaging mechanics, training machine
                            learning models, or optimizing real-time systems,
                            I’m always eager to experiment and learn.
                        </p>
                    </div>
                </div>
            </div>

            <div class="about-section">
                <div class="about-section-content">
                    <div class="about-section-content-item">
                        <h3>My history</h3>
                        <p>
                            I was born in 2003 in Costa Rica, and I have always
                            been fascinated by technology and video games. My
                            journey started with my first computer at the age of
                            five, playing games and exploring how they worked.

                            During high school, I earned a technician degree in
                            communication networks, where I learned programming,
                            telecommunications, and system administration. This
                            solid foundation led me to pursue a Bachelor’s in
                            Computer Engineering at the Costa Rica Institute of
                            Technology in 2022.

                            My passion for game development grew as I started
                            experimenting with Unity, Unreal Engine, and Roblox
                            Studio, while my curiosity in machine learning led me to
                            explore computer vision and reinforcement learning.
                        </p>
                    </div>
                </div>
            </div>

            <div class="about-section">
                <div class="about-section-content">
                    <div class="about-section-content-item">
                        <h3>Interests & Skills</h3>
                        <p>
                            <strong>🎮 Game Development</strong>
                        <ul>
                            <li>Developing interactive experiences using Unity, Unreal Engine, and Roblox Studio.</li>
                            <li>Experience in modding.</li>
                        </ul>

                        <strong>🤖 Machine Learning</strong>
                        <ul>
                            <li>Exploring computer vision, reinforcement learning, and deep learning.</li>
                            <li>Working with TensorFlow, OpenCV, and PyTorch.</li>
                        </ul>

                        <strong>🛠 Tools & Technologies</strong>
                        <ul>
                            <li><strong>Programming:</strong> C++, Python, C#, Go, Java.</li>
                            <li><strong>Game Engines:</strong> Unity, Unreal Engine, Roblox Studio.</li>
                            <li><strong>AI & ML:</strong> TensorFlow, OpenCV, PyTorch.</li>
                            <li><strong>Development Tools:</strong> Git, Docker, Linux, Vim.</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-line"></div>
        <div class="about-contact">
            <a href="https://www.linkedin.com/in/johan-rodr%C3%ADguez-5a49a223a/" target="_blank">
                <img src="/assets/img/linkedin.svg" alt="linkedin" class="contact-icon">
            </a>
            <a href="https://github.com/Johanx22x" target="_blank">
                <img src="/assets/img/github.png" alt="github" class="contact-icon">
            </a>
            <a href="https://www.youtube.com/@johanx22x" target="_blank">
                <img src="/assets/img/youtube.png" alt="youtube" class="contact-icon">
            </a>
        </div>
    </div>

    <div class="cv-content about-selection" id="cv-selection">
        <div class="cv-header">
            <h1>Johan Rodríguez</h1>
            <h3>Computer Science Student</h3>
            <div class="cv-semi-bold">
                <p class="cv-bold">Address:</p>
                <p>Cartago, Costa Rica</p>
            </div>
            <div class="cv-semi-bold">
                <p class="cv-bold">Email:</p>
                <p>johanrodsa2210@gmail.com</p>
            </div>
        </div>

        <div class="cv-summary">
            <p>I'm a Computer Science student at the Costa Rica Institute of Technology. Interested in machine learning,
                mathematics and software development. Active researcher in the field of artificial intelligence and
                computer vision. Power user of Linux-based operating systems.</p>
        </div>

        <div class="cv-section-title">
            <h2>Education</h2>
        </div>

        <div class="cv-line"></div>

        <div class="cv-section">
            <div class="cv-section-date">
                <p class="bold">2022 - Present</p>
            </div>
            <div class="cv-section-content">
                <h3>Computer Engineering</h3>
                <h5>Costa Rica Institute of Technology</h5>
                <p>Currently studying the Bachelor of Computer Engineering at the Costa Rica Institute of Technology. I
                    have taken courses in computer science, mathematics and humanities.</p>
            </div>

            <div class="cv-section-date">
                <p class="bold">2019 - 2021</p>
            </div>
            <div class="cv-section-content">
                <h3>Communication Networks Technician</h3>
                <h5>CTP Santa Rosa de Pocosol</h5>
                <p>Graduated as a Communication Networks Technician from the Santa Rosa de Pocosol Technical
                    Professional College. I learned about computer networks, telecommunications and programming.</p>
            </div>
        </div>

        <div class="cv-section-title">
            <h2>Experience</h2>
        </div>

        <div class="cv-line"></div>

        <div class="cv-section">
            <div class="cv-section-date">
                <p class="bold">2023 - Present</p>
            </div>
            <div class="cv-section-content">
                <h3>Computer Vision Researcher</h3>
                <p>Costa Rica Institute of Technology</p>
                <p>Currently working on a research project in the field of computer vision. I have experience in the use
                    of deep learning models for tasks such as object detection, image classification, facial analysis
                    and image segmentation.</p>
            </div>

            <div class="cv-section-date">
                <p class="bold">2023</p>
            </div>
            <div class="cv-section-content">
                <h3>Mathematics Tutor</h3>
                <p>Costa Rica Institute of Technology</p>
                <p>Worked as a mathematics tutor for first-year students at the Colegio Científico de Costa Rica Sede
                    San Carlos. I helped students with precalculus and calculus topics. I also worked as an assistant in
                    Calculus and Algebra courses.</p>
            </div>
        </div>

        <div class="cv-section-title">
            <h2>Skills</h2>
        </div>

        <div class="cv-line"></div>

        <div class="cv-section-unique">
            <div class="cv-section-content-unique">
                <h3>Languages</h3>
                <ul>
                    <li>Spanish: Native</li>
                    <li>English: Intermediate (B2)</li>
                </ul>
            </div>
            <div class="cv-section-content-unique">
                <h3>Soft Skills</h3>
                <p>Problem solving, teamwork, leadership and communication.</p>
            </div>
            <div class="cv-section-content-unique">
                <h3>Programming Languages</h3>
                <p>Solid knowledge of Python, C/C++, Java, C# and Go.</p>
            </div>
            <div class="cv-section-content-unique">
                <h3>Frameworks</h3>
                <p>Unity, Unreal Engine, TensorFlow and OpenCV.</p>
            </div>
            <div class="cv-section-content-unique">
                <h3>Tools</h3>
                <p>Git, Docker, Vim and Unix-based operating systems.</p>
            </div>
        </div>

        <div class="cv-footer">
            <p class="text-muted">Last updated: 2024-02-29</p>
            <button class="cv-download" onclick="downloadCV()">Download PDF</button>
        </div>
    </div>
</div>

<script src="/assets/js/about.js"></script>