<nav>
    <ul>
        <li> <a href="/"> <img src="/assets/img/logo.jpg" alt="logo" id="logo"></img> </a> </li>

        <div id="container-nav-items">
            <li> <a class="nav-item" href="/" id="home">Home</a> </li>
            <li> <a class="nav-item" href="/blog/" id="blog">Blog</a></li>
            <li> <a class="nav-item" href="/about/" id="about">About</a> </li>
        </div>

        <li>
            <div id="container-theme-toggle">
                <div class="inner-container-theme-toggle">
                    <div class="toggle-theme">
                        <p>Dark</p>
                    </div>
                    <div class="toggle-theme">
                        <p>Light</p>
                    </div>
                </div>
                <div class="inner-container-theme-toggle" id='toggle-container-theme-toggle'>
                    <div class="toggle-theme">
                        <p>Dark</p>
                    </div>
                    <div class="toggle-theme">
                        <p>Light</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
