<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/assets/img/hardware-skill.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hardware</h5>
                <p class="card-text">
                    Experience building and repairing computers.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/assets/img/coding-skill.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Software</h5>
                <p class="card-text">
                    Throughout my career I have worked with many different
                    development tools, languages and operating systems.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/assets/img/calculus-skill.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Math</h5>
                <p class="card-text">
                    I have taken many math courses, including Calculus, Linear Algebra, Discrete Math,
                    Statistics, and more.
                </p>
            </div>
        </div>
    </div>
</div>