<div class="slideshow">
    <div class="slideshow-item fade">
        <img src="/assets/img/slide7.jpg" alt="slideshow" class="slideshow-img"/>
        <div class="slideshow-text">
            <h1>Johan Rodríguez</h1>
            <p class="text-muted">@Johanx22x</p>
            <p>A Computer Science student from Costa Rica who loves to code and learn new things.</p>
            <a href="/about/" class="slideshow-btn">About Me</a>
        </div>
    </div>

    <div class="slideshow-item fade">
        <img src="/assets/img/slide1.png" alt="slideshow" class="slideshow-img"/>
        <div class="slideshow-text">
            <h1>Projects</h1>
            <p>I have worked on several projects, from web development to machine learning.</p>
            <a href="/blog?filter=projects" class="slideshow-btn">See More</a>
        </div>
    </div>

    <div class="slideshow-item fade">
        <img src="/assets/img/slide4.png" alt="slideshow" class="slideshow-img"/>
        <div class="slideshow-text">
            <h1>Dotfiles</h1>
            <p>My dotfiles are available on GitHub, feel free to use them. I use Arch btw.</p>
            <a href="https://github.com/Johanx22x/dotfiles" target="_blank" class="slideshow-btn">GitHub</a>
        </div>
    </div>

    <div class="slideshow-item fade">
        <img src="/assets/img/slide11.jpg" alt="slideshow" class="slideshow-img"/>
        <div class="slideshow-text">
            <h1>Hobbies</h1>
            <p>When I'm not studying/coding, I like to play video games, read books and watch anime. Check out my list of recommendations.</p>
            <a href="/blog?filter=hobbies" class="slideshow-btn">See More</a>
        </div>
    </div>

    <div class="slideshow-dots">
        <span class="slideshow-dot active" onclick="currentSlide(1)"></span>
        <span class="slideshow-dot" onclick="currentSlide(2)"></span>
        <span class="slideshow-dot" onclick="currentSlide(3)"></span>
        <span class="slideshow-dot" onclick="currentSlide(4)"></span>
    </div>
</div>

<script src="/assets/js/slideshow.js"></script>
