@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

.about-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.about-container {
  padding: 20px;
  text-align: center;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-selection {
    display: none;
}

.about-selection.active {
    display: block;
}

#container-about-toggle {
	width: 15em;
	height: 2.5em;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

.inner-container-about-toggle {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .2em;
}

.inner-container-about-toggle:first-child {
	background: var(--secondary-color);
	color: #a9a9a9;
}

.inner-container-about-toggle:nth-child(2) {
	background: var(--primary-color);
	color: var(--invert-color);
	clip-path: inset(0 50% 0 0);
	transition: .3s cubic-bezier(0,0,0,1);
}

.toggle {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.toggle p {
	margin: auto;
}

.toggle:nth-child(1) {
	right: 0;
}

.about-content {
  margin-top: 4em;
}

.cv-content {
    margin: 4em 0;
    background-color: var(--secondary-color);
    width: 50%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.intro-header {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.cv-header {
    margin-top: 2em;
    margin-left: 2em;
    text-align: left;
}

.intro-logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 5em;
}

.intro-text {
    margin-top: 2em;
    text-align: left;
    width: 25%;
    height: 100%;
}

.about-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin-top: 2em;
}

.cv-section-title {
    margin-top: 1em;
    margin-left: 2em;
    text-align: left;
}

.about-section-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 1em;
}

.about-section-content-item {
    text-align: left;
}

.about-contact {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.contact-icon {
    margin: 0 0.5em;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.contact-line {
    border: 1px solid var(--hover-color);
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}

.cv-line {
    border: 1px solid var(--hover-color);
    width: 95%;
    margin: 0 auto;
    margin-top: 0.5em;
}

.cv-footer {
    margin: 2em 2em;
    display: flex;
    justify-content: space-between;
}

.cv-summary {
    margin-top: 1em;
    margin-left: 2em;
    text-align: left;
}

.cv-bold {
  font-weight: 700;
  margin-right: 0.5em;
}

.cv-semi-bold {
    /* Display in a row */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.cv-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    margin: 0 2em;
}

.cv-section-content, .cv-section-date {
    margin-top: 1em;
}

.cv-section-unique {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin: 0 2em;
}

.cv-section-content-unique {
    margin-top: 1em;
}

.cv-download {
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.5em;
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: none;
    padding: 0.5em 1em;
    color: var(--invert-color);
    background-color: var(--primary-color);
}
