nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    z-index: 1000;
}

nav ul {
    margin: 0;
    padding: 8px 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}

nav ul li {
    padding: 3px;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
}

nav ul li #logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8em;
}

nav ul li#space1{
    flex: 1;
}

nav ul li#space2{
    flex: 1;
}

nav ul li a{
    height: 40px;
    width: var(--btn-width-100);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(158, 158, 158);
    transition: .5s;
}

#container-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px 0 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
}

.theme-toggle{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

nav ul li:hover #home, 
nav ul li:hover #blog, 
nav ul li:hover #about{
    background: rgba(0, 0, 0, 0.138);
    color: #444;
    border-radius: 5px;
} 

.active {
    color: var(--primary-color);
}

#container-theme-toggle{
	width: 15em;
	height: 2.5em;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

.inner-container-theme-toggle {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	/* text-transform: uppercase; */
	font-size: 1em;
	letter-spacing: .2em;
}

.inner-container-theme-toggle:first-child {
	background: var(--secondary-color);
	color: #a9a9a9;
}

.inner-container-theme-toggle:nth-child(2) {
	background: var(--primary-color);
	color: var(--invert-color);
	clip-path: inset(0 50% 0 0);
	transition: .3s cubic-bezier(0,0,0,1);
}

.toggle-theme {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.toggle-theme p {
	margin: auto;
}

.toggle-theme:nth-child(1) {
	right: 0;
}
