.post-container {
  display: flex;
  flex-direction: column;
  margin: 2em 20%;
}

.post-image {
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1em;
}

.post-title {
  font-size: 2.5rem;
}

.post-date {
  margin-bottom: 1em;
}

.post-line {
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 1em;
}

.post-content h1 {
    font-size: 2rem;
    margin: 0.8em 0;
}

.post-content h2 {
    font-size: 1.5rem;
    margin: 0.8em 0;
}

.post-content h3 {
    font-size: 1.25rem;
    margin: 0.6em 0;
}

.post-content h4 {
    font-size: 1rem;
    margin: 0.4em 0;
}

.post-content h5 {
    font-size: 0.875rem;
    margin: 0.2em 0;
}
