{% include header.html %}
{% include navbar.html %}
<div class="container mt-4 h-100">
    <div class="row">
    <div class="col-md-4">
        <div class="bg-light p-3">
            {% include sidebar.html %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="bg-light p-3 overflow-auto" style="height: 85vh;">
            {{ content }}
        </div>
    </div>
    </div>
</div>

<script>
    // Create a copy button for code blocks
    // Using class code-block
    var codeBlocks = document.getElementsByClassName('code-block');
    for (var i = 0; i < codeBlocks.length; i++) {
        var copyBtn = document.createElement('button');
        copyBtn.className = 'btn btn-sm btn-outline-secondary float-end';
        copyBtn.innerHTML = 'Copy';
        copyBtn.addEventListener('click', function() {
            var code = this.parentElement.getElementsByTagName('code')[0];
            navigator.clipboard.writeText(code.innerText);
        });
        codeBlocks[i].appendChild(copyBtn);
    }
</script>

{% include footer.html %}